.navbar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 10px;
}


/* LOGO */

.logo {
  height: 100%; /* Deixe a altura do contêiner igual à da navbar */
}

.logo__img {
  max-height: 100px; /* Define um limite para a altura da logo */
  width: auto; /* Mantém as proporções originais da imagem */
  display: block; /* Remove qualquer espaço ao redor da imagem */
}


/* Botão Hamburger */

.hamburger {
  position: relative;
  width: 30px; /* Largura do botão */
  height: 30px; /* Altura do botão */

  cursor: pointer;
  background: none;
  border: none;
  z-index: 1000;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  background: linear-gradient(to right, #ffffff 20%, #9b95a6 90%);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburger::before {
  width: 30px;
  height: 2px;
  background: linear-gradient(to right, #ffffff 20%, #9b95a6 90%);
  top: 20px;
  right: 50%;
}

.hamburger::after {
  width: 20px;
  height: 2px;
  background: linear-gradient(to right, #ffffff 20%, #9b95a6 90%);
  top: 30px;
  right: 50%;
}

/* hamburger aberto */
.hamburger.open::before,
.hamburger.open::after {
  background: linear-gradient(to right, #252582 20%, #000000 90%);
}


.hamburger.open::before {
  transform: rotate(45deg); /* Gira a linha superior */
  top: 100%; /* Centraliza verticalmente */
  transform-origin: center;
}

.hamburger.open::after {
  transform: rotate(-45deg); /* Gira a linha inferior */
  top: 100%; /* Centraliza verticalmente */
  transform-origin: center;
}

/* Menu Expandido */
.menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 50vh;
  width: 300px;
  background-color: #c3becb;
  transition: transform 0.3s ease;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  z-index: 999;
  margin-top: 10px;
  margin-right: 10px;
}

.menu.open {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu .close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  left: 100%;
  right: 100px;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  margin: 20px 0;
}

.menu ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #333;
}

/* Contatos e Social */
.contact,
.social {
  margin-top: 30px;
}

.contact p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 1rem;
  color: #786591;
  margin-bottom: 5px;
}

.contact a {
  margin: 0;
}

.social a {
  margin-right: 10px;
  color: #333;
  text-decoration: none;
}
